* {
    background-color: rgb(92, 2, 2);
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
   color:whitesmoke;
    }
h1, h2, h3 {
        text-decoration: underline;
    }
    ul{
        text-transform: uppercase;
    }
ol{
    text-align: justify;
}
p{
    color:rgb(0, 0, 0);
    text-align:justify;
}       